# Built-in Functions.ipynb

In [19]:
import mysql.connector as sql
import os as os 
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd 

load_dotenv('/workspaces/IBM-DS-Course/.env')

user = os.getenv('USER')
password = os.getenv('PASSWORD')

In [20]:
host = 'localhost'
port = 3306
db = 'PETRESCUE'

conn = sql.connect(
    host='localhost',
    user=user,
    password=password,
    port=3306)

cursor = conn.cursor()

In [21]:
cursor = conn.cursor()
create_db = f'CREATE DATABASE IF NOT EXISTS {db}'
cursor.execute(create_db)

In [22]:
sql_file_path = '/workspaces/IBM-DS-Course/Course 6 Db and SQL /Module 3 Filter & aggregations clause/3.2 .sql & .csv/PETRESCUE-CREATE.sql'
with open(sql_file_path, 'r') as sql_file:
    sql_script = sql_file.read()

In [25]:
use = f'USE {db}'
cursor.execute(use)
try:
    for stm in sql_script.split(';'):
        if stm.strip():
            cursor.execute(stm)
        conn.commit()
        print("Sucess")
except Exception as e:
    print(f"Failed because {e}")

Sucess
Sucess
Sucess
Sucess

## Aggregation Functions

Write a query that calculates the total cost of all animal rescues in the PETRESCUE table.

In [26]:
q1 = "SELECT SUM(COST) FROM PETRESCUE;"
cursor.execute(q1)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('1718.24'),)

You can further assign a label to the query SUM_OF_COST.

In [27]:
q2 = "SELECT SUM(COST) AS SUM_OF_COST FROM PETRESCUE;"
cursor.execute(q2)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('1718.24'),)

Write a query that displays the maximum quantity of animals rescued (of any kind).

In [28]:
q3 = "SELECT MAX(QUANTITY) FROM PETRESCUE;"
cursor.execute(q3)
output = cursor.fetchall()
for row in output:
    print(row)

(24,)

The query can easily be changed to display the minimum quantity using the MIN function instead.

In [29]:
q4 = "SELECT MIN(QUANTITY) FROM PETRESCUE;"
cursor.execute(q4)
output = cursor.fetchall()
for row in output:
    print(row)

(1,)

Write a query that displays the average cost of animals rescued.

In [30]:
q5 = "SELECT AVG(COST) FROM PETRESCUE;"
cursor.execute(q5)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('190.915556'),)

Scalar Functions and String Functions

Write a query that displays the rounded integral cost of each rescue.

In [32]:
q6 = "SELECT ROUND(COST) FROM PETRESCUE;"
cursor.execute(q6)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('450'),)
(Decimal('667'),)
(Decimal('100'),)
(Decimal('50'),)
(Decimal('76'),)
(Decimal('61'),)
(Decimal('44'),)
(Decimal('48'),)
(Decimal('222'),)

The query could also be written as:

In [34]:
q6_5 = "SELECT ROUND(COST, 0) FROM PETRESCUE;"
cursor.execute(q6_5)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('450'),)
(Decimal('667'),)
(Decimal('100'),)
(Decimal('50'),)
(Decimal('76'),)
(Decimal('61'),)
(Decimal('44'),)
(Decimal('48'),)
(Decimal('222'),)

In case the question was to round the value to 2 decimal places, the query would change to:

In [35]:
q7 = "SELECT ROUND(COST, 2) FROM PETRESCUE;"
cursor.execute(q7)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('450.09'),)
(Decimal('666.66'),)
(Decimal('100.00'),)
(Decimal('50.00'),)
(Decimal('75.75'),)
(Decimal('60.60'),)
(Decimal('44.44'),)
(Decimal('48.48'),)
(Decimal('222.22'),)

Write a query that displays the length of each animal name.

In [36]:
q8 = "SELECT LENGTH(ANIMAL) FROM PETRESCUE;"
cursor.execute(q8)
output = cursor.fetchall()
for row in output:
    print(row)

(3,)
(3,)
(3,)
(6,)
(3,)
(7,)
(3,)
(8,)
(3,)

Write a query that displays the animal name in each rescue in uppercase

In [37]:
q9 = "SELECT UCASE(ANIMAL) FROM PETRESCUE;"
cursor.execute(q9)
output = cursor.fetchall()
for row in output:
    print(row)

('CAT',)
('DOG',)
('DOG',)
('PARROT',)
('DOG',)
('HAMSTER',)
('CAT',)
('GOLDFISH',)
('DOG',)

Just as easily, the user could ask for a lower case representation, and the query would be changed to:

In [38]:
q10 = "SELECT LCASE(ANIMAL) FROM PETRESCUE;"
cursor.execute(q10)
output = cursor.fetchall()
for row in output:
    print(row)

('cat',)
('dog',)
('dog',)
('parrot',)
('dog',)
('hamster',)
('cat',)
('goldfish',)
('dog',)

# Date Functions

Write a query that displays the rescue date.

In [39]:
q11 = "SELECT DAY(RESCUEDATE) FROM PETRESCUE;"
cursor.execute(q11)
output = cursor.fetchall()
for row in output:
    print(row)

(29,)
(1,)
(4,)
(4,)
(10,)
(11,)
(11,)
(14,)
(15,)

In case the query was asking for MONTH of rescue, the query would change to:

In [40]:
q12 = "SELECT MONTH(RESCUEDATE) FROM PETRESCUE;"
cursor.execute(q12)
output = cursor.fetchall()
for row in output:
    print(row)

(5,)
(6,)
(6,)
(6,)
(6,)
(6,)
(6,)
(6,)
(6,)

In case the query was asking for YEAR of rescue, the query would change to:

In [41]:
q13 = "SELECT YEAR(RESCUEDATE) FROM PETRESCUE;"
cursor.execute(q13)
output = cursor.fetchall()
for row in output:
    print(row)

(2018,)
(2018,)
(2018,)
(2018,)
(2018,)
(2018,)
(2018,)
(2018,)
(2018,)

Animals rescued should see the vet within three days of arrival. Write a query that displays the third day of each rescue.

In [42]:
q14 = "SELECT DATE_ADD(RESCUEDATE, INTERVAL 3 DAY) FROM PETRESCUE;"
cursor.execute(q14)
output = cursor.fetchall()
for row in output:
    print(row)

(datetime.date(2018, 6, 1),)
(datetime.date(2018, 6, 4),)
(datetime.date(2018, 6, 7),)
(datetime.date(2018, 6, 7),)
(datetime.date(2018, 6, 13),)
(datetime.date(2018, 6, 14),)
(datetime.date(2018, 6, 14),)
(datetime.date(2018, 6, 17),)
(datetime.date(2018, 6, 18),)

If the question was to add 2 months to the date, the query would change to:

In [43]:
q15 = "SELECT DATE_ADD(RESCUEDATE, INTERVAL 2 MONTH) FROM PETRESCUE;"
cursor.execute(q15)
output = cursor.fetchall()
for row in output:
    print(row)

(datetime.date(2018, 7, 29),)
(datetime.date(2018, 8, 1),)
(datetime.date(2018, 8, 4),)
(datetime.date(2018, 8, 4),)
(datetime.date(2018, 8, 10),)
(datetime.date(2018, 8, 11),)
(datetime.date(2018, 8, 11),)
(datetime.date(2018, 8, 14),)
(datetime.date(2018, 8, 15),)

Similarly, we can retrieve a date before the one given in the column by a given number using the function DATE_SUB.

In [44]:
q16 = "SELECT DATE_SUB(RESCUEDATE, INTERVAL 3 DAY) FROM PETRESCUE;"
cursor.execute(q16)
output = cursor.fetchall()
for row in output:
    print(row)

(datetime.date(2018, 5, 26),)
(datetime.date(2018, 5, 29),)
(datetime.date(2018, 6, 1),)
(datetime.date(2018, 6, 1),)
(datetime.date(2018, 6, 7),)
(datetime.date(2018, 6, 8),)
(datetime.date(2018, 6, 8),)
(datetime.date(2018, 6, 11),)
(datetime.date(2018, 6, 12),)

Write a query that displays the length of time the animals have been rescued, for example, the difference between the current date and the rescue date.

In [45]:
q17 = "SELECT DATEDIFF(CURRENT_DATE, RESCUEDATE) FROM PETRESCUE;"
cursor.execute(q17)
output = cursor.fetchall()
for row in output:
    print(row)

(2247,)
(2244,)
(2241,)
(2241,)
(2235,)
(2234,)
(2234,)
(2231,)
(2230,)

CURRENT_DATE is also an inbuilt function that returns the present date as known to the server.

To present the output in a YYYY-MM-DD format, another function FROM_DAYS(number_of_days)can be used. This function takes a number of days and returns the required formatted output.

In [46]:
q18 = "SELECT FROM_DAYS(DATEDIFF(CURRENT_DATE, RESCUEDATE)) FROM PETRESCUE"
cursor.execute(q18)
output = cursor.fetchall()
for row in output:
    print(row)

(datetime.date(6, 2, 25),)
(datetime.date(6, 2, 22),)
(datetime.date(6, 2, 19),)
(datetime.date(6, 2, 19),)
(datetime.date(6, 2, 13),)
(datetime.date(6, 2, 12),)
(datetime.date(6, 2, 12),)
(datetime.date(6, 2, 9),)
(datetime.date(6, 2, 8),)

## Practice Problems

Write a query that displays the average cost of rescuing a single dog. Note that the cost per dog would not be the same in different instances.

In [47]:
p1 = "SELECT AVG(COST/QUANTITY) FROM PETRESCUE WHERE ANIMAL = 'Dog';"
cursor.execute(p1)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('127.2700000000'),)

Write a query that displays the animal name in each rescue in uppercase without duplications.

In [48]:
p2 = "SELECT DISTINCT UCASE(ANIMAL) FROM PETRESCUE;;"
cursor.execute(p2)
output = cursor.fetchall()
for row in output:
    print(row)

('CAT',)
('DOG',)
('PARROT',)
('HAMSTER',)
('GOLDFISH',)

Write a query that displays all the columns from the PETRESCUE table where the animal(s) rescued are cats. Use cat in lowercase in the query.

In [51]:
p3 = "SELECT * FROM PETRESCUE WHERE LCASE(ANIMAL)='cat';"
cursor.execute(p3)
output = cursor.fetchall()
for row in output:
    print(row)

(1, 'Cat', 9, Decimal('450.09'), datetime.date(2018, 5, 29))
(7, 'Cat', 1, Decimal('44.44'), datetime.date(2018, 6, 11))

Write a query that displays the number of rescues in the 5th month.

In [53]:
p4 = "SELECT SUM(QUANTITY) FROM PETRESCUE WHERE MONTH(RESCUEDATE)='05';"
cursor.execute(p4)
output = cursor.fetchall()
for row in output:
    print(row)

(Decimal('9'),)

The rescue shelter is supposed to find good homes for all animals within 1 year of their rescue. Write a query that displays the ID and the target date.

In [55]:
p5 = "SELECT ID, DATE_ADD(RESCUEDATE, INTERVAL 1 YEAR) FROM PETRESCUE;"
cursor.execute(p5)
output = cursor.fetchall()
for row in output:
    print(row)

(1, datetime.date(2019, 5, 29))
(2, datetime.date(2019, 6, 1))
(3, datetime.date(2019, 6, 4))
(4, datetime.date(2019, 6, 4))
(5, datetime.date(2019, 6, 10))
(6, datetime.date(2019, 6, 11))
(7, datetime.date(2019, 6, 11))
(8, datetime.date(2019, 6, 14))
(9, datetime.date(2019, 6, 15))

In [56]:
conn.commit()
conn.close()