# Built-in Functions.ipynb

In [ ]:
import mysql.connector as sql
import os as os 
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd 

load_dotenv('/workspaces/IBM-DS-Course/.env')

user = os.getenv('USER')
password = os.getenv('PASSWORD')

In [ ]:
host = 'localhost'
port = 3306
db = 'PETRESCUE'

conn = sql.connect(
    host='localhost',
    user=user,
    password=password,
    port=3306)

cursor = conn.cursor()

In [2]:
cursor = conn.cursor()
create_db = f'CREATE DATABASE IF NOT EXISTS {db}'
cursor.execute(create_db)

NameError: name 'conn' is not defined

In [3]:
sql_file_path = '/workspaces/IBM-DS-Course/Course 6 Db and SQL /Module 3 Filter & aggregations clause/3.2 .sql & .csv/PETRESCUE-CREATE.sql'
with open(sql_file_path, 'r') as sql_file:
    sql_script = sql_file.read()

## Aggregation Functions

Write a query that calculates the total cost of all animal rescues in the PETRESCUE table.

In [6]:

SELECT SUM(COST) FROM PETRESCUE;

SyntaxError: invalid syntax (3169254762.py, line 1)

You can further assign a label to the query SUM_OF_COST.

In [ ]:

1
SELECT SUM(COST) AS SUM_OF_COST FROM PETRESCUE;
Copied!

Write a query that displays the maximum quantity of animals rescued (of any kind).

In [ ]:
SELECT MAX(QUANTITY) FROM PETRESCUE;

The query can easily be changed to display the minimum quantity using the MIN function instead.

In [ ]:
SELECT MIN(QUANTITY) FROM PETRESCUE;

Write a query that displays the average cost of animals rescued.

In [ ]:
SELECT AVG(COST) FROM PETRESCUE;

Scalar Functions and String Functions

Write a query that displays the rounded integral cost of each rescue.

In [10]:
SELECT ROUND(COST) FROM PETRESCUE;

SyntaxError: invalid syntax (4013376518.py, line 1)

The query could also be written as:

SELECT ROUND(COST, 0) FROM PETRESCUE;

In case the question was to round the value to 2 decimal places, the query would change to:

In [13]:
SELECT ROUND(COST, 2) FROM PETRESCUE;

SyntaxError: invalid syntax (3207308883.py, line 1)

Write a query that displays the length of each animal name.

In [ ]:
SELECT LENGTH(ANIMAL) FROM PETRESCUE;

Write a query that displays the animal name in each rescue in uppercase

In [16]:
SELECT UCASE(ANIMAL) FROM PETRESCUE;

SyntaxError: invalid syntax (2146887161.py, line 1)

Just as easily, the user could ask for a lower case representation, and the query would be changed to:

In [18]:
SELECT LCASE(ANIMAL) FROM PETRESCUE;

SyntaxError: invalid syntax (1971660783.py, line 1)

Date Functions
Write a query that displays the rescue date.
For this query, we will use the function DAY(COLUMN_NAME). The output of this query will be only the DAY part of the date in the column. The query for this question can be written as:

1
SELECT DAY(RESCUEDATE) FROM PETRESCUE;
Copied!
In case the query was asking for MONTH of rescue, the query would change to:

1
SELECT MONTH(RESCUEDATE) FROM PETRESCUE;
Copied!
In case the query was asking for YEAR of rescue, the query would change to:

1
SELECT YEAR(RESCUEDATE) FROM PETRESCUE;
Copied!
Animals rescued should see the vet within three days of arrival. Write a query that displays the third day of each rescue.
For this query, we will use the function DATE_ADD(COLUMN_NAME, INTERVAL Number Date_element). Here, the quantity in Number and in Date_element will combine to form the interval to be added to the date in the column. For the given question, the query would be:

1
SELECT DATE_ADD(RESCUEDATE, INTERVAL 3 DAY) FROM PETRESCUE
Copied!
If the question was to add 2 months to the date, the query would change to:

1
SELECT DATE_ADD(RESCUEDATE, INTERVAL 2 MONTH) FROM PETRESCUE
Copied!
Similarly, we can retrieve a date before the one given in the column by a given number using the function DATE_SUB. By modifying the same example, the following query would provide the date 3 days before the rescue.

1
SELECT DATE_SUB(RESCUEDATE, INTERVAL 3 DAY) FROM PETRESCUE
Copied!
Write a query that displays the length of time the animals have been rescued, for example, the difference between the current date and the rescue date.
For this query, we will use the function DATEDIFF(Date_1, Date_2). This function calculates the difference between the two given dates and gives the output in number of days. For the given question, the query would be:

1
SELECT DATEDIFF(CURRENT_DATE, RESCUEDATE) FROM PETRESCUE
Copied!
CURRENT_DATE is also an inbuilt function that returns the present date as known to the server.

To present the output in a YYYY-MM-DD format, another function FROM_DAYS(number_of_days)can be used. This function takes a number of days and returns the required formatted output. The query above would thus be modified to

1
SELECT FROM_DAYS(DATEDIFF(CURRENT_DATE, RESCUEDATE)) FROM PETRESCUE

Practice Problems
Write a query that displays the average cost of rescuing a single dog. Note that the cost per dog would not be the same in different instances.
Click here for a hint
Click here for the solution
Write a query that displays the animal name in each rescue in uppercase without duplications.
Click here for a hint
Click here for the solution
Write a query that displays all the columns from the PETRESCUE table where the animal(s) rescued are cats. Use cat in lowercase in the query.
Click here for a hint
Click here for the solution
Write a query that displays the number of rescues in the 5th month.
Click here for a hint
Click here for the solution
The rescue shelter is supposed to find good homes for all animals within 1 year of their rescue. Write a query that displays the ID and the target date.
Click here for a hint
Click here for Solution