# Working with Multiple Tables

In [ ]:
import

SyntaxError: invalid syntax (2125240012.py, line 1)

## Accessing multiple tables with sub-queries

Retrieve only the EMPLOYEES records corresponding to jobs in the JOBS table.

In [ ]:

SELECT * FROM EMPLOYEES WHERE JOB_ID IN (SELECT JOB_IDENT FROM JOBS);

Retrieve JOB information for employees earning over $70,000.

SELECT JOB_TITLE, MIN_SALARY, MAX_SALARY, JOB_IDENT
FROM JOBS
WHERE JOB_IDENT IN (select JOB_ID from EMPLOYEES where SALARY > 70000 );

Retrieve only the EMPLOYEES records corresponding to jobs in the JOBS table.

SELECT *
FROM EMPLOYEES, JOBS
WHERE EMPLOYEES.JOB_ID = JOBS.JOB_IDENT;

Redo the previous query using shorter aliases for table names.

Note that the tables in question can be assigned shorter aliases. This is especially helpful in cases where specific columns are to be accessed from different tables. The query would be modified to:

SELECT *
FROM EMPLOYEES E, JOBS J
WHERE E.JOB_ID = J.JOB_IDENT;

In the previous query, retrieve only the Employee ID, Name, and Job Title.
Notice that Job Title is a column of the JOBS table, and other details are coming from the EMPLOYEES table. The two tables will be joined on Job ID.

SELECT EMP_ID,F_NAME,L_NAME, JOB_TITLE
FROM EMPLOYEES E, JOBS J
WHERE E.JOB_ID = J.JOB_IDENT;

Redo the previous query, but specify the fully qualified column names with aliases in the SELECT clause.
The column names can also be prefixed with table aliases to keep track of where each column is coming from.

SELECT E.EMP_ID, E.F_NAME, E.L_NAME, J.JOB_TITLE
FROM EMPLOYEES E, JOBS J
WHERE E.JOB_ID = J.JOB_IDENT;

Practice problems
Retrieve only the list of employees whose JOB_TITLE is Jr. Designer.

a. Using sub-queries


b. Using Implicit Joins


Retrieve JOB information and a list of employees whose birth year is after 1976.

a. Using sub-queries


b. Using implicit join